.container {
    height: 350px;
    width: 530px;
    background: linear-gradient(to bottom, black, #910A67);
    border-radius: 10px;
    box-shadow: 2px 6px 29px white;
}

.visa {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.col-8 {
    color: white;
    font-size: 12px;
}

#num {
    color: white;
    font-size: 12px;
}

.incard {
    width: 20px;
}

#name {
    color: white;
    font-size: 12px;
}

.card {
    color: white;
    font-size: 12px;
}

.cardbody {
   
    height:fit-content
}


placeholder {
    color: white
}

p {
    color: white;

}

label {
    color: white
}