<div class="row mt-5" *ngIf="!flag">
    <div class="col-md-4"></div>
    <div class="col-md-4 d-flex justify-content-center">
        <button class="custom-btn btn-7" (click)="onLimit()">
            Set Limits
        </button>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="row">
    <!-- Add Card Section (Optional) -->
    <!-- <div *ngIf="flag" class="col-md-8 d-flex justify-content-center">
        Please Add Your Cards Here!!
        <button class="btn btn-info" (click)="gotocards()">
            Add Card
        </button>
    </div> -->

    <!-- Display Cards -->
    <div class="col-md-12 d-flex justify-content-center">
        <div class="container mt-5 body" *ngFor="let card of cardsArray; let i = index">
            <div class="row">
                <div class="col-md-6 mt-3 visa">
                    <i>MY CARD</i>
                </div>
                <div class="col-md-6 d-flex justify-content-end mt-3">
                    <button class="btn btn-danger" (click)="onDelete(i)">
                        <i class="fa-regular fa-trash-can"></i>
                    </button>
                </div>
            </div>

            <div class="row mt-3" id="num">
                <div class="col-md-12">CARD NUMBER</div>
            </div>
            <div class="c-details">
                <div class="row mt-2">
                    <div class="col-md-3">
                        {{card.cardNumber1}}
                    </div>
                    <div class="col-md-3">
                        {{card.cardNumber2}}
                    </div>
                    <div class="col-md-3">
                        {{card.cardNumber3}}
                    </div>
                    <div class="col-md-3">
                        {{card.cardNumber3}}
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-6 date">
                    EXPIRY
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-md-6 date">
                    {{card.cardExpiry}}
                </div>
            </div>

            <div class="row mt-1">
                <div class="col">
                    <div class="form-group cholder">
                        Card Holder
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group name">
                        {{card.cardHolder | uppercase}}
                    </div>
                </div>
            </div>
        </div>
           
    </div>
</div>