<h1 class="text-dark my-3 text-center" id="font">
    Customer Support
</h1>
<div class="container my-5" id="font">
    <div class="row">
        <div class="col col-md-4">
            <div class="card shadow  bg-body-tertiary rounded "
                style="width: 18rem ; height:250px; background-color: lightgrey; ">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="bi bi-telephone"></i> Contact Customer Care
                    </h5>


                    <h6 class="card-subtitle mb-2 text-body-primary">
                        <br>
                        Your Queries our solution for you
                    </h6>
                    <p class="card-text">
                        To contact Expense Tracker Customer Care, use the contact details updated here.
                        Please do not use the contact details updated on any other website as it can be fake and may
                        risk your
                        account security.
                    </p>

                </div>
            </div>
        </div>
        <div class="col col-md-4 col-lg-4">
            <div class="card shadow   rounded" style="width: 18rem; height:250px; background-color: ivory;">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="bi bi-info-circle"></i> Visit Helpdesk

                    </h5>
                    <h6 class="card-subtitle mb-2 mt-5 text-body-primary">
                        Visit the helpdesk at any of our branches. 
                    </h6>
                    <p class="card-text">
                    </p>
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-lg-4">
            <div class="card shadow   rounded" style="width: 18rem;height:250px; background-color: lightpink;">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="bi bi-mailbox"></i> Report a Suspicious Mail
                    </h5>
                    <h6 class="card-subtitle mb-2 mt-5 text-body-primary">

                        Report a Suspicious MailWe recommend not opening or clicking on any unauthorised e-mail claiming
                        to be
                        from Expense Tracker.
                        Kindly Reach us with 9848984898
                        <br>
                    </h6>
                    <p class="card-text">

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container border rounded text-center Registercomponent" style="background-color: lavenderblush;">
    <h4 class="card-title">
        <i class="bi bi-buildings"></i> Registered Office
    </h4>
    <p class="card-text">
        Hyderabad near Madhapur, Hitechcity Road
    </p>
</div>


<!-- <marquee width="100%" direction="right" height="100px"> -->
<div class="container border rounded text-center p-3 mt-2 mb-5" style="background-color: lightsteelblue;">
    <h4 class="card-title">
        <i class="bi bi-buildings"></i> Corporate Office
    </h4>
    Jubilee Hills Road no-7,Hyderabad
    Fax: +91 -22-84556955

</div>
<!-- </marquee> -->
<router-outlet></router-outlet>