<div class="row mt-3">
  <div class="col-md-12 d-flex justify-content-center">
    <h2 id="font" class="btn">Hi, {{username}} Your Monthly Analytics</h2>
  </div>
</div>

<div class="col-md-12" id="font">
  <div class="row mt-5">
    <!-- cards earnings -->
    <!-- Earnings (Monthly) Card Example -->

    <div class="col-md-3">
      <div class="card border-left-primary shadow h-100 py-2 card2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col-md-1"></div>
            <div class="col-md-6">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                Income
              </div>
              <div class="h5 mb-0 font-weight-bold text-primary text-gray-800">
                ₹{{ getMonthlyIncome() }}
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 d-flex justify-content-center">
              <i class="fa-solid fa-coins fa-2x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->

    <div class="col-md-3">
      <div class="card border-left-primary shadow h-100 py-2 card2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col-md-1"></div>
            <div class="col-md-6">
              <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                Expenditure
              </div>
              <div class="h5 mb-0 font-weight-bold text-danger text-gray-800">
                ₹{{ getMonthlyExpenditure() }}
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 d-flex justify-content-center">
              <i class="fa-solid fa-wallet fa-2x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card border-left-warning shadow h-100 py-2 card2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col-md-1"></div>
            <div class="col-md-6">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                Savings
              </div>
              <div class="h5 mb-0 text-success font-weight-bold text-gray-800">
                ₹{{ getSavings() }}
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 d-flex justify-content-center">
              <i class="fa-solid fa-piggy-bank fa-2x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card border-left-warning shadow h-100 py-2 card2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                <a class="text-success" routerLink="/coupons" style="text-decoration: none">
                  My
                </a>
                <div class="h5 mb-0 text-success font-weight-bold text-gray-800">
                  <a class="text-success" routerLink="/coupons" style="text-decoration: none">
                    Offers
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
              <!-- <i class="fa-solid fa-piggy-bank fa-2x"></i> -->
              <a href="/coupons" class="text-danger">
                <i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row mt-5">
    <div class="col-md-6" *ngIf="homePieChart">
      <highcharts-chart [Highcharts]="highcharts" [options]="homePieChart"
        style="width: 100%; height: 350px; display: block">
      </highcharts-chart>
    </div>

    <div class="col-md-6 d-flex justify-content-center" *ngIf="barCharts">
      <highcharts-chart [Highcharts]="highcharts" [options]="barCharts"
        style="width: 100%; height: 400px; display: block"></highcharts-chart>
    </div>
  </div>
</div>